body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#num {
    margin-bottom: 100px;
}
#grid{
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
}

#grid img{
    margin: 0;
    padding: 0;
    border: 0;
}