.grid {
    position: absolute;
    width: 560px;
    height: 300px;
    border: solid black 1px;
    margin-top: 60px;
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: rebeccapurple;
}

.user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: rgb(16, 3, 30);
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: aqua;
    border-radius: 50%;
}